<div data-v-4f1faad3="" data-v-e094ff0e="" class="transaction-table">
  <div data-v-4f1faad3="" class="order-section">
    <div data-v-4f1faad3="" class="table-header"><span data-v-4f1faad3="" class="column time">時間</span><span
        data-v-4f1faad3="" class="column middle">價格</span><span data-v-4f1faad3="" class="column amount">數量</span></div>
    <ul data-v-4f1faad3="" class="table-body bids">
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:47:50</span><span
          data-v-4f1faad3="" class="column middle long">69596.983313</span><span data-v-4f1faad3=""
          class="column amount">0.016127</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(36.7872%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:46:33</span><span
          data-v-4f1faad3="" class="column middle long">69595.476575</span><span data-v-4f1faad3=""
          class="column amount">0.023689</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(8.97009%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:48:41</span><span
          data-v-4f1faad3="" class="column middle long">69594.931080</span><span data-v-4f1faad3=""
          class="column amount">0.011994</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(29.173%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:46:52</span><span
          data-v-4f1faad3="" class="column middle long">69594.857248</span><span data-v-4f1faad3=""
          class="column amount">0.018411</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(44.6809%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:47:24</span><span
          data-v-4f1faad3="" class="column middle long">69594.264870</span><span data-v-4f1faad3=""
          class="column amount">0.019582</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(38.3021%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:48:34</span><span
          data-v-4f1faad3="" class="column middle long">69590.647479</span><span data-v-4f1faad3=""
          class="column amount">0.020113</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(24.4528%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:45:45</span><span
          data-v-4f1faad3="" class="column middle long">69590.622120</span><span data-v-4f1faad3=""
          class="column amount">0.007633</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(58.2035%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:47:32</span><span
          data-v-4f1faad3="" class="column middle long">69588.032023</span><span data-v-4f1faad3=""
          class="column amount">0.010306</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(61.1259%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:49:12</span><span
          data-v-4f1faad3="" class="column middle long">69581.845725</span><span data-v-4f1faad3=""
          class="column amount">0.027197</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(52.9778%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:48:27</span><span
          data-v-4f1faad3="" class="column middle long">69580.968335</span><span data-v-4f1faad3=""
          class="column amount">0.015278</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(55.4289%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:45:40</span><span
          data-v-4f1faad3="" class="column middle long">69575.104009</span><span data-v-4f1faad3=""
          class="column amount">0.012495</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(34.9225%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:46:58</span><span
          data-v-4f1faad3="" class="column middle long">69572.230978</span><span data-v-4f1faad3=""
          class="column amount">0.012308</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(34.8136%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:47:52</span><span
          data-v-4f1faad3="" class="column middle long">69563.403577</span><span data-v-4f1faad3=""
          class="column amount">0.022430</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(14.795%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:47:49</span><span
          data-v-4f1faad3="" class="column middle long">69562.358603</span><span data-v-4f1faad3=""
          class="column amount">0.017256</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(37.1027%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:49:33</span><span
          data-v-4f1faad3="" class="column middle long">69561.951054</span><span data-v-4f1faad3=""
          class="column amount">0.014520</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(40.1809%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:48:15</span><span
          data-v-4f1faad3="" class="column middle long">69561.144266</span><span data-v-4f1faad3=""
          class="column amount">0.020148</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(52.458%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:49:37</span><span
          data-v-4f1faad3="" class="column middle long">69552.661904</span><span data-v-4f1faad3=""
          class="column amount">0.018934</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(39.0681%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:49:24</span><span
          data-v-4f1faad3="" class="column middle long">69551.866814</span><span data-v-4f1faad3=""
          class="column amount">0.010752</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(52.0367%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:46:46</span><span
          data-v-4f1faad3="" class="column middle long">69551.403410</span><span data-v-4f1faad3=""
          class="column amount">0.024088</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(20.6239%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:47:40</span><span
          data-v-4f1faad3="" class="column middle long">69550.271445</span><span data-v-4f1faad3=""
          class="column amount">0.018279</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(11.9074%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:46:47</span><span
          data-v-4f1faad3="" class="column middle long">69549.897489</span><span data-v-4f1faad3=""
          class="column amount">0.009086</span><i data-v-4f1faad3="" class="up-bg"
          style="transform: translateX(48.9129%); transition-duration: 300ms;"></i></li>
    </ul>
    <ul data-v-4f1faad3="" class="table-body asks">
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:47:26</span><span
          data-v-4f1faad3="" class="column middle short">69602.164002</span><span data-v-4f1faad3=""
          class="column amount">0.009587</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(49.4545%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:48:07</span><span
          data-v-4f1faad3="" class="column middle short">69605.061098</span><span data-v-4f1faad3=""
          class="column amount">0.018249</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(35.5433%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:49:48</span><span
          data-v-4f1faad3="" class="column middle short">69605.617955</span><span data-v-4f1faad3=""
          class="column amount">0.014404</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(61.3221%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:49:29</span><span
          data-v-4f1faad3="" class="column middle short">69610.974578</span><span data-v-4f1faad3=""
          class="column amount">0.009966</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(33.1339%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:45:31</span><span
          data-v-4f1faad3="" class="column middle short">69614.006465</span><span data-v-4f1faad3=""
          class="column amount">0.015025</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(25.1747%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:47:19</span><span
          data-v-4f1faad3="" class="column middle short">69617.618164</span><span data-v-4f1faad3=""
          class="column amount">0.016996</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(56.6857%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:47:23</span><span
          data-v-4f1faad3="" class="column middle short">69617.917487</span><span data-v-4f1faad3=""
          class="column amount">0.007095</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(52.4364%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:46:04</span><span
          data-v-4f1faad3="" class="column middle short">69621.743563</span><span data-v-4f1faad3=""
          class="column amount">0.010557</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(38.9508%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:46:34</span><span
          data-v-4f1faad3="" class="column middle short">69622.641842</span><span data-v-4f1faad3=""
          class="column amount">0.025595</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(56.7695%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:49:43</span><span
          data-v-4f1faad3="" class="column middle short">69623.837591</span><span data-v-4f1faad3=""
          class="column amount">0.015808</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(29.7315%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:46:01</span><span
          data-v-4f1faad3="" class="column middle short">69623.908381</span><span data-v-4f1faad3=""
          class="column amount">0.011897</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(65.0623%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:46:06</span><span
          data-v-4f1faad3="" class="column middle short">69626.771359</span><span data-v-4f1faad3=""
          class="column amount">0.012533</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(28.4175%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:49:31</span><span
          data-v-4f1faad3="" class="column middle short">69629.620947</span><span data-v-4f1faad3=""
          class="column amount">0.017985</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(30.5041%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:47:49</span><span
          data-v-4f1faad3="" class="column middle short">69633.433451</span><span data-v-4f1faad3=""
          class="column amount">0.020250</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(13.4859%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:47:28</span><span
          data-v-4f1faad3="" class="column middle short">69634.779163</span><span data-v-4f1faad3=""
          class="column amount">0.028099</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(35.0745%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:47:33</span><span
          data-v-4f1faad3="" class="column middle short">69636.109800</span><span data-v-4f1faad3=""
          class="column amount">0.021264</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(17.4809%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:46:03</span><span
          data-v-4f1faad3="" class="column middle short">69637.410967</span><span data-v-4f1faad3=""
          class="column amount">0.012018</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(58.5878%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:46:05</span><span
          data-v-4f1faad3="" class="column middle short">69637.939385</span><span data-v-4f1faad3=""
          class="column amount">0.017040</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(57.9636%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:47:04</span><span
          data-v-4f1faad3="" class="column middle short">69639.343094</span><span data-v-4f1faad3=""
          class="column amount">0.018941</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(59.7558%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:49:11</span><span
          data-v-4f1faad3="" class="column middle short">69639.844308</span><span data-v-4f1faad3=""
          class="column amount">0.009730</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(61.1389%); transition-duration: 300ms;"></i></li>
      <li data-v-4f1faad3="" class="table-li"><span data-v-4f1faad3="" class="column time">20:46:59</span><span
          data-v-4f1faad3="" class="column middle short">69640.677444</span><span data-v-4f1faad3=""
          class="column amount">0.023748</span><i data-v-4f1faad3="" class="down-bg"
          style="transform: translateX(11.111%); transition-duration: 300ms;"></i></li>
    </ul>
  </div>
</div>

<style>
  .transaction-table[data-v-4f1faad3] {
    width: 100%;
    position: relative
  }

  .table-header[data-v-4f1faad3] {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #5e5e7a;
    display: flex;
    padding: 0 20px
  }

  .table-body[data-v-4f1faad3] {
    list-style: none;
    padding: 0 20px;
    margin: 0
  }

  .table-li[data-v-4f1faad3] {
    padding: 0;
    margin: 0 0 2px;
    box-sizing: border-box;
    display: flex;
    height: 26px;
    line-height: 26px;
    width: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer
  }

  .table-li:hover .up-bg[data-v-4f1faad3],
  .table-li:hover .down-bg[data-v-4f1faad3] {
    opacity: 1;
    transform: translate(0) !important
  }

  .column[data-v-4f1faad3] {
    text-align: left;
    flex: 1
  }

  .column[data-v-4f1faad3]:last-of-type {
    text-align: right
  }

  .column.middle[data-v-4f1faad3] {
    text-align: center;
    flex: 1
  }

  .column.middle.long[data-v-4f1faad3] {
    color: var(--font-win)
  }

  .column.middle.short[data-v-4f1faad3] {
    color: var(--font-lose)
  }

  .column.time[data-v-4f1faad3],
  .column.amount[data-v-4f1faad3] {
    flex: 1
  }

  .up-bg[data-v-4f1faad3],
  .down-bg[data-v-4f1faad3] {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform .5s cubic-bezier(.22, .61, .36, 1), opacity .3s ease;
    transform-origin: right center;
    opacity: .8
  }

  .up-bg[data-v-4f1faad3] {
    background: linear-gradient(90deg, #40d38e1a, #40d38ee6)
  }

  .down-bg[data-v-4f1faad3] {
    background: linear-gradient(90deg, #ff48341a, #ff4834e6)
  }

  .transaction-list-area[data-v-e094ff0e] {
    height: 708px;
    width: 100%;
    margin-bottom: 2px
  }

  .scroll-wrap[data-v-bddced9d] {
    padding: 0;
    margin: 10px 0 0;
    overflow: auto;
    position: relative;
    height: 300px
  }

  .scroll-wrap[data-v-bddced9d]::-webkit-scrollbar {
    width: 4px
  }

  .scroll-wrap[data-v-bddced9d]::-webkit-scrollbar-thumb {
    background-color: #7c7c974d;
    border-radius: 2px
  }

  .list[data-v-bddced9d] {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column
  }

  .row[data-v-bddced9d] {
    box-sizing: border-box;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    padding: 12px 20px
  }
</style>