<ul data-v-c46c57dc="" class="table-body">
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.021776</span><span data-v-699bc4b5="" class="column long">69579.184021</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(86.3555%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.027931</span><span data-v-699bc4b5="" class="column long">69577.914823</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(33.9913%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.023878</span><span data-v-699bc4b5="" class="column long">69570.492475</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(70.6265%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.022390</span><span data-v-699bc4b5="" class="column long">69564.407860</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(34.7027%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.017595</span><span data-v-699bc4b5="" class="column long">69564.169515</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(80.0979%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.014942</span><span data-v-699bc4b5="" class="column long">69560.440963</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(31.0685%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.021756</span><span data-v-699bc4b5="" class="column long">69559.898735</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(72.533%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.018871</span><span data-v-699bc4b5="" class="column long">69554.134499</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(78.2906%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.020118</span><span data-v-699bc4b5="" class="column long">69554.102319</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(71.6881%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.022517</span><span data-v-699bc4b5="" class="column long">69553.314301</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(95.7503%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.020609</span><span data-v-699bc4b5="" class="column long">69549.954089</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(41.4414%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.016293</span><span data-v-699bc4b5="" class="column long">69546.568969</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(60.1043%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.021364</span><span data-v-699bc4b5="" class="column long">69539.811614</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(65.433%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.021186</span><span data-v-699bc4b5="" class="column long">69534.124999</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(46.069%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.022140</span><span data-v-699bc4b5="" class="column long">69529.228328</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(75.2882%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.019636</span><span data-v-699bc4b5="" class="column long">69528.706099</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(34.1794%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.021261</span><span data-v-699bc4b5="" class="column long">69525.098854</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(86.9928%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.020793</span><span data-v-699bc4b5="" class="column long">69521.420635</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(59.0677%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.023031</span><span data-v-699bc4b5="" class="column long">69520.778520</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(40.2964%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.019682</span><span data-v-699bc4b5="" class="column long">69519.774713</span><i
      data-v-699bc4b5="" class="long-bg" style="transition-duration: 300ms; transform: translateX(59.084%);"></i></li>
  <li data-v-c46c57dc="" class="table-li li-middle"><span data-v-c46c57dc="" class="top"><span data-v-c46c57dc=""
        style="color: green;">69599.5500</span><span data-v-c46c57dc="" class="img-down"><svg data-v-c46c57dc=""
          width="14" height="14" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <path data-v-c46c57dc="" d="M50 10 L90 70 L60 70 L60 90 L40 90 L40 70 L10 70 Z" fill="green"></path>
        </svg></span></span><span data-v-c46c57dc="" class="bottom">≈ $69599.5500</span></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.015841</span><span data-v-699bc4b5="" class="column short">69622.357016</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(47.4087%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.024753</span><span data-v-699bc4b5="" class="column short">69623.239180</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(45.2065%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.018972</span><span data-v-699bc4b5="" class="column short">69627.087978</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(72.0008%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.021100</span><span data-v-699bc4b5="" class="column short">69628.086066</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(75.5374%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.019797</span><span data-v-699bc4b5="" class="column short">69637.615739</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(55.867%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.018241</span><span data-v-699bc4b5="" class="column short">69638.379755</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(89.0695%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.014196</span><span data-v-699bc4b5="" class="column short">69648.065525</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(73.812%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.022866</span><span data-v-699bc4b5="" class="column short">69658.745990</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(88.0551%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.023275</span><span data-v-699bc4b5="" class="column short">69661.884016</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(65.2056%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.018659</span><span data-v-699bc4b5="" class="column short">69664.681125</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(70.4715%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.015556</span><span data-v-699bc4b5="" class="column short">69669.204202</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(55.429%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.021036</span><span data-v-699bc4b5="" class="column short">69670.138615</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(77.134%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.025817</span><span data-v-699bc4b5="" class="column short">69671.177529</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(47.3692%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.021240</span><span data-v-699bc4b5="" class="column short">69672.487619</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(95.9428%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.020455</span><span data-v-699bc4b5="" class="column short">69673.479831</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(36.7898%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.022484</span><span data-v-699bc4b5="" class="column short">69673.716463</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(57.3637%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.023948</span><span data-v-699bc4b5="" class="column short">69673.719474</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(59.6913%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.015498</span><span data-v-699bc4b5="" class="column short">69676.926202</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(72.6684%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.025316</span><span data-v-699bc4b5="" class="column short">69679.258646</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(47.1985%);"></i></li>
  <li data-v-699bc4b5="" data-v-c46c57dc="" class="table-li"><span data-v-699bc4b5=""
      class="column amount">0.025025</span><span data-v-699bc4b5="" class="column short">69679.499704</span><i
      data-v-699bc4b5="" class="short-bg" style="transition-duration: 300ms; transform: translateX(60.3199%);"></i></li>
</ul>

<style>
  .table-body[data-v-c46c57dc] {
    padding: 0 20px
  }

  .li-middle[data-v-c46c57dc] {
    font-size: 20px;
    height: 35px;
    margin: 5px 0;
    display: flex;
    justify-content: flex-start
  }

  .li-middle>span[data-v-c46c57dc] {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    font-weight: 400;
    color: #888;
    font-size: 14px
  }

  .li-middle .top[data-v-c46c57dc] {
    font-weight: 700;
    font-size: 20px
  }

  .transaction-table[data-v-4f1faad3] {
    width: 100%;
    position: relative
  }

  .table-header[data-v-4f1faad3] {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #5e5e7a;
    display: flex;
    padding: 0 20px
  }

  .table-body[data-v-4f1faad3] {
    list-style: none;
    padding: 0 20px;
    margin: 0
  }

  .table-li[data-v-4f1faad3] {
    padding: 0;
    margin: 0 0 2px;
    box-sizing: border-box;
    display: flex;
    height: 26px;
    line-height: 26px;
    width: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer
  }

  .table-li:hover .up-bg[data-v-4f1faad3],
  .table-li:hover .down-bg[data-v-4f1faad3] {
    opacity: 1;
    transform: translate(0) !important
  }

  .column[data-v-4f1faad3] {
    text-align: left;
    flex: 1
  }

  .column[data-v-4f1faad3]:last-of-type {
    text-align: right
  }

  .column.middle[data-v-4f1faad3] {
    text-align: center;
    flex: 1
  }

  .column.middle.long[data-v-4f1faad3] {
    color: var(--font-win)
  }

  .column.middle.short[data-v-4f1faad3] {
    color: var(--font-lose)
  }

  .column.time[data-v-4f1faad3],
  .column.amount[data-v-4f1faad3] {
    flex: 1
  }

  .up-bg[data-v-4f1faad3],
  .down-bg[data-v-4f1faad3] {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform .5s cubic-bezier(.22, .61, .36, 1), opacity .3s ease;
    transform-origin: right center;
    opacity: .8
  }

  .up-bg[data-v-4f1faad3] {
    background: linear-gradient(90deg, #40d38e1a, #40d38ee6)
  }

  .down-bg[data-v-4f1faad3] {
    background: linear-gradient(90deg, #ff48341a, #ff4834e6)
  }

  .transaction-list-area[data-v-e094ff0e] {
    height: 708px;
    width: 100%;
    margin-bottom: 2px
  }
</style>