.user_info_box[data-v-4c5cd613] {
    border: 1px solid var(--border-color1);
    margin-top: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 9999px
}

.user_info_box .item_top_left[data-v-4c5cd613] {
    margin-left: 30px;
    display: flex;
    align-items: center
}

.user_info_box .item_top_left .avatar[data-v-4c5cd613] {
    width: 40px;
    height: 40px;
    border-radius: 9999px
}

.user_info_box .item_top_left .item_name[data-v-4c5cd613] {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.user_info_box .item_top_left .item_name .item_name_level span[data-v-4c5cd613]:nth-child(1) {
    color: var(--font-color-main);
    font-size: 18px
}

.user_info_box .item_top_left .item_name .user_level[data-v-4c5cd613] {
    background: linear-gradient(270deg,#fcdf7b,#f9cd4e);
    margin-left: 6px;
    width: 33px;
    height: 18px;
    border-radius: 100px;
    padding: 1px 5px;
    --un-text-opacity: 1;
    color: rgb(160 115 0 / var(--un-text-opacity));
    font-weight: 600
}

.user_info_box .item_top_left .item_name .moreBox[data-v-4c5cd613] {
    display: flex;
    align-items: flex-end
}

.user_info_box .item_top_left .item_name .moreBox .item_name_total[data-v-4c5cd613] {
    height: 20px;
    overflow: hidden;
    font-size: 14px;
    --un-text-opacity: 1;
    color: rgb(136 136 136 / var(--un-text-opacity))
}

.user_info_box .item_top_left .line_num[data-v-4c5cd613] {
    margin-left: 50px;
    display: flex;
    flex-direction: column
}

.user_info_box .item_top_left .line_num span[data-v-4c5cd613]:nth-child(1) {
    color: var(--font-win);
    font-family: Franklin Gothic Medium,Arial Narrow,Arial,sans-serif;
    font-size: 24px;
    line-height: 1
}

.user_info_box .item_top_left .quota[data-v-4c5cd613] {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.user_info_box .item_top_left .quota .quota_line[data-v-4c5cd613] {
    color: #888
}

.user_info_box .item_top_left .quota .quota_line span[data-v-4c5cd613]:nth-child(1) {
    margin-right: 10px;
    display: inline-block;
    text-align: right
}

.user_info_box .item_top_left .quota .quota_line .ma[data-v-4c5cd613] {
    color: #fff
}

.user_info_box .follow_btn[data-v-4c5cd613] {
    background: var(--btn-bg);
    color: var(--font-color-btn);
    margin-right: 20px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    border-radius: 9999px
}

.user_info_box .back_btn[data-v-4c5cd613] {
    color: var(--font-btn);
    margin-right: 20px;
    min-width: 80px;
    height: 40px;
    cursor: pointer;
    border-radius: 9999px;
    --un-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--un-bg-opacity))
}

.bar-chart[data-v-83e3f802],.smooth-line-chart[data-v-6ca128b1] {
    transition: all .3s ease-in-out
}

.list[data-v-6fa6caac] {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 5px
}

.list .item[data-v-6fa6caac] {
    border: 2px solid #252731;
    box-sizing: border-box;
    width: 430px;
    height: 300px;
    flex: none;
    border-radius: 8px;
    padding: 30px
}

.list .chat-day[data-v-6fa6caac] {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.list .chat-day .day-list span[data-v-6fa6caac] {
    color: var(--font-color-main);
    margin-right: 6px;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    padding: 4px 6px
}

.list .chat-day .day-list .active[data-v-6fa6caac] {
    border-radius: 6px;
    background: var(--btn-bg);
    color: var(--font-btn)
}

.list .progress-bar[data-v-6fa6caac] {
    margin-top: 15px;
    margin-bottom: 20px
}

.list .progress-bar .count[data-v-6fa6caac] {
    margin-top: 6px;
    display: flex;
    justify-content: space-between
}

.list .progress-bar .count .name[data-v-6fa6caac] {
    color: #adadad
}

.title-content[data-v-6fa6caac] {
    display: flex;
    justify-content: space-between
}

.title-content .title[data-v-6fa6caac] {
    color: var(--font-color-main);
    display: flex;
    align-items: center;
    font-size: 15px
}

.title-content .title img[data-v-6fa6caac] {
    margin-right: 5px;
    width: 12px;
    height: 12px
}

.title-content .filter-item[data-v-6fa6caac] {
    background: var(--data-bg-main);
    color: var(--font-color-main);
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 12px
}

.info-content[data-v-6fa6caac] {
    margin-top: 10px
}

.info-content>p[data-v-6fa6caac] {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between
}

.info-content .name[data-v-6fa6caac] {
    --un-text-opacity: 1;
    color: rgb(173 173 173 / var(--un-text-opacity));
    text-decoration-line: underline
}

.gendan[data-v-6fa6caac] {
    margin-top: 20px
}

.info_box[data-v-6fa6caac] {
    margin-top: 30px;
    display: flex;
    gap: 30px
}

.info_box_l[data-v-6fa6caac] {
    border: 2px solid #252731;
    box-sizing: border-box;
    width: 430px;
    height: 420px;
    border-radius: 8px;
    padding: 30px
}

.info_box_r[data-v-6fa6caac] {
    border: 2px solid #252731;
    box-sizing: border-box;
    height: 420px;
    flex: 1 1 0%;
    border-radius: 8px;
    padding: 30px
}

.info_box_r .user_top[data-v-6fa6caac] {
    display: flex;
    justify-content: space-between
}

.info_box_r .user_top .user_top_right span[data-v-6fa6caac] {
    color: var(--font-win)
}

.follow-people[data-v-6fa6caac] {
    margin-top: 10px;
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto
}

.people-item[data-v-6fa6caac] {
    box-sizing: border-box;
    height: 98px;
    width: 405px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    --un-bg-opacity: 1;
    background-color: rgb(26 27 36 / var(--un-bg-opacity));
    padding: 16px
}

.people-item .avatar[data-v-6fa6caac] {
    margin-right: 16px;
    width: 46px;
    height: 46px;
    border-radius: 9999px
}

.people-item .info[data-v-6fa6caac] {
    flex: 1
}

.people-item .profit[data-v-6fa6caac] {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.people-item .profit span[data-v-6fa6caac]:first-child {
    color: var(--font-color3-pc)
}

.people-item .profit .green[data-v-6fa6caac] {
    color: var(--font-win)
}

.people-item .profit .red[data-v-6fa6caac] {
    color: #eb5757
}

.data-list-new[data-v-db6ea1b7] {
    border: 2px solid #252731;
    margin-top: 30px;
    width: 100%;
    min-height: 550px;
    overflow: hidden;
    border-radius: 12px
}

.data-list-new[data-v-db6ea1b7] .ant-table,.data-list-new[data-v-db6ea1b7] .ant-table-wrapper th,.data-list-new[data-v-db6ea1b7] .ant-table-wrapper td {
    background: transparent!important
}

.data-list-new[data-v-caf05906] {
    border: 2px solid #252731;
    margin-top: 30px;
    width: 100%;
    min-height: 550px;
    overflow: hidden;
    border-radius: 12px
}

.data-list-new[data-v-caf05906] .ant-table,.data-list-new[data-v-caf05906] .ant-table-wrapper th,.data-list-new[data-v-caf05906] .ant-table-wrapper td {
    background: transparent!important
}

.title-content[data-v-c0a00f42] {
    margin-top: 4.2vw;
    margin-bottom: 4.2vw;
    display: flex;
    justify-content: space-between
}

.title-content .title[data-v-c0a00f42] {
    color: var(--font-color-main);
    display: flex;
    align-items: center;
    font-size: 4vw
}

.title-content .title img[data-v-c0a00f42] {
    margin-right: 1vw;
    width: 3vw;
    height: 3vw
}

.title-content .filter-item[data-v-c0a00f42] {
    background: var(--data-bg-main);
    color: var(--font-color-main);
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 4vw
}

.chat-day[data-v-c0a00f42] {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.chat-day .day-list span[data-v-c0a00f42] {
    color: var(--font-color-main);
    margin-right: 2vw;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    gap: 2vw;
    padding: 1vw 2vw
}

.chat-day .day-list .active[data-v-c0a00f42] {
    border-radius: 2vw;
    background: var(--btn-bg);
    color: var(--font-btn)
}

.progress-bar[data-v-c0a00f42] {
    margin-top: 1vw;
    margin-bottom: 2vw
}

.progress-bar .count[data-v-c0a00f42] {
    margin-top: 2vw;
    display: flex;
    justify-content: space-between
}

.progress-bar .count .name[data-v-c0a00f42] {
    color: #adadad
}

.info-content[data-v-c0a00f42] {
    margin-top: 5vw
}

.info-content>p[data-v-c0a00f42] {
    margin-bottom: 2vw;
    display: flex;
    justify-content: space-between
}

.info-content .name[data-v-c0a00f42] {
    --un-text-opacity: 1;
    color: rgb(173 173 173 / var(--un-text-opacity));
    text-decoration-line: underline
}

.notice-bar[data-v-c0a00f42] {
    background: var(--data-bg-main);
    box-sizing: border-box;
    height: 12vw;
    display: flex;
    align-items: center;
    border-radius: 8vw;
    padding-left: 3vw;
    padding-right: 3vw
}

.notice-bar img[data-v-c0a00f42] {
    margin-right: 3vw;
    width: 7vw;
    height: 7vw;
    border-radius: 9999px
}

.green[data-v-c0a00f42] {
    color: #0ff
}

.follow-order[data-v-59731cca] {
    border: 1px solid var(--border-color1);
    margin: 2.6vw 3.2vw;
    border-radius: 4vw;
    padding-left: 2.6vw;
    padding-right: 2.6vw;
    padding-top: 3.7vw
}

.coin[data-v-59731cca] {
    position: relative;
    margin-bottom: 2.6vw;
    display: flex;
    align-items: center
}

.coin .icon[data-v-59731cca] {
    width: 5.3vw;
    height: 5.3vw;
    border-radius: 9999px
}

.coin .share[data-v-59731cca] {
    position: absolute;
    right: 0;
    width: 4.8vw;
    height: 4.8vw;
    border-radius: 0
}

.order-title[data-v-59731cca] {
    margin-bottom: 2.6vw;
    display: flex;
    justify-content: space-between;
    font-size: 3.3vw;
    --un-text-opacity: 1;
    color: rgb(173 173 173 / var(--un-text-opacity))
}

.order-desc[data-v-59731cca] {
    color: var(--font-color-main);
    margin-bottom: 2.6vw;
    display: flex;
    justify-content: space-between;
    font-size: 3.7vw
}

.order-time .time[data-v-59731cca],.order-time .time-end[data-v-59731cca] {
    flex: 1
}

.order-time .time-end[data-v-59731cca] {
    text-align: right
}

.green[data-v-59731cca] {
    color: #0ff
}

.follow-order[data-v-7d4779a6] {
    border: 1px solid var(--border-color1);
    margin: 2.6vw 3.2vw;
    border-radius: 4vw;
    padding-left: 2.6vw;
    padding-right: 2.6vw;
    padding-top: 3.7vw
}

.coin[data-v-7d4779a6] {
    position: relative;
    margin-bottom: 2.6vw;
    display: flex;
    align-items: center
}

.coin .icon[data-v-7d4779a6] {
    width: 5.3vw;
    height: 5.3vw;
    border-radius: 9999px
}

.coin .share[data-v-7d4779a6] {
    position: absolute;
    right: 0;
    width: 4.8vw;
    height: 4.8vw;
    border-radius: 0
}

.order-title[data-v-7d4779a6] {
    margin-bottom: 2.6vw;
    display: flex;
    justify-content: space-between;
    font-size: 3.3vw;
    --un-text-opacity: 1;
    color: rgb(173 173 173 / var(--un-text-opacity))
}

.order-desc[data-v-7d4779a6] {
    color: var(--font-color-main);
    margin-bottom: 2.6vw;
    display: flex;
    justify-content: space-between;
    font-size: 3.7vw
}

.order-time .time[data-v-7d4779a6],.order-time .time-end[data-v-7d4779a6] {
    flex: 1
}

.order-time .time-end[data-v-7d4779a6] {
    text-align: right
}

.green[data-v-7d4779a6] {
    color: #0ff
}

.people-item[data-v-0a961521] {
    background: var(--data-bg36);
    border: 1px solid var(--border-color1);
    margin-bottom: 2.6vw;
    box-sizing: border-box;
    height: 24.5vw;
    display: flex;
    align-items: center;
    border-radius: 4vw;
    padding: 4.2vw
}

.people-item .avatar[data-v-0a961521] {
    margin-right: 4vw;
    width: 12vw;
    height: 12vw;
    border-radius: 9999px
}

.people-item .info[data-v-0a961521] {
    flex: 1
}

.people-item .name[data-v-0a961521] {
    margin-bottom: 5px
}

.people-item .profit[data-v-0a961521] {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.people-item .profit span[data-v-0a961521]:first-child {
    color: var(--font-color3-pc)
}

.people-item .profit .green[data-v-0a961521] {
    color: var(--font-win)
}

.people-item .profit .red[data-v-0a961521] {
    color: #eb5757
}

.follow-box[data-v-94995e14] {
    margin: 3vw 3.2vw;
    box-sizing: border-box;
    border-radius: 4.8vw;
    --un-bg-opacity: 1;
    background-color: rgb(26 34 43 / var(--un-bg-opacity));
    padding: 4vw 5.6vw
}

.follow-box .top[data-v-94995e14] {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.follow-box .top .user-info[data-v-94995e14] {
    display: flex;
    align-items: center
}

.follow-box .top .user-info .avatar[data-v-94995e14] {
    margin-right: 2vw;
    margin-top: 1vw;
    width: 60px;
    height: 60px;
    align-self: flex-start;
    border-radius: 9999px
}

.follow-box .top .user-info .user[data-v-94995e14] {
    flex: 1
}

.follow-box .top .user-info .user .name[data-v-94995e14] {
    font-size: 4.26667vw;
    color: var(--font-color-main)
}

.follow-box .top .user-info .user .name .level[data-v-94995e14] {
    background: linear-gradient(270deg,#fcdf7b,#f9cd4e);
    border-radius: 2vw;
    padding: .5vw 1.3vw;
    font-size: 2.5vw;
    --un-text-opacity: 1;
    color: rgb(160 115 0 / var(--un-text-opacity));
    font-weight: 700
}

.follow-box .top .user-info .user .gray[data-v-94995e14] {
    color: var(--font-color3-pc)
}

.footer[data-v-94995e14] {
    background: var(--content-bg);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
    width: 100%;
    padding: 2.6vw 3.7vw 8vw
}

.footer .btn[data-v-94995e14] {
    background: var(--btn-bg);
    color: var(--font-btn);
    height: 13vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    border-style: none;
    font-size: 4vw
}

.footer-p[data-v-94995e14] {
    width: 100%;
    height: 8vw
}

.popup-content[data-v-9266217b] {
    max-height: 100vh;
    overflow: hidden;
    --un-bg-opacity: 1;
    background-color: rgb(18 20 30 / var(--un-bg-opacity))
}

.submit_top[data-v-9266217b] {
    box-sizing: border-box;
    --un-bg-opacity: 1;
    background-color: rgb(26 27 36 / var(--un-bg-opacity))
}

.submit_top .item_top_left[data-v-9266217b] {
    display: flex;
    align-items: center
}

.submit_top .item_top_left .avatar[data-v-9266217b] {
    width: 40px;
    height: 40px;
    border-radius: 9999px
}

.submit_top .item_top_left .item_name[data-v-9266217b] {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.submit_top .item_top_left .item_name .item_name_level span[data-v-9266217b]:nth-child(1) {
    color: var(--font-color-main);
    font-size: 18px
}

.submit_top .item_top_left .item_name .user_level[data-v-9266217b] {
    background: linear-gradient(270deg,#fcdf7b,#f9cd4e);
    margin-left: 6px;
    width: 33px;
    height: 18px;
    border-radius: 100px;
    padding: 1px 5px;
    --un-text-opacity: 1;
    color: rgb(160 115 0 / var(--un-text-opacity));
    font-weight: 600
}

.submit_top .item_top_left .item_name .item_name_total[data-v-9266217b] {
    height: 20px;
    width: 70vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    --un-text-opacity: 1;
    color: rgb(136 136 136 / var(--un-text-opacity))
}

.submit_top .item_top_left .line_num[data-v-9266217b] {
    margin-left: 50px;
    display: flex;
    flex-direction: column
}

.submit_top .item_top_left .line_num span[data-v-9266217b]:nth-child(1) {
    color: var(--font-win);
    font-family: Franklin Gothic Medium,Arial Narrow,Arial,sans-serif;
    font-size: 24px;
    line-height: 1
}

.center-container .submit-money[data-v-9266217b] {
    border-radius: 8px;
    padding: 20px 12px
}

.center-container .submit-money .submit-title[data-v-9266217b] {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between
}

.center-container .submit-money .submit-title .green[data-v-9266217b] {
    color: var(--btn-bg)
}

.center-container .submit-money .submit-input[data-v-9266217b] {
    border: 1px solid var(--border-color1);
    margin-bottom: 17px;
    box-sizing: border-box;
    border-radius: 9999px;
    padding: 10px 15px!important
}

.center-container .submit-money .submit-input .unit[data-v-9266217b] {
    color: var(--font-color-main)
}

.center-container .submit-money .slider[data-v-9266217b] {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px
}

.center-container .submit-money .balance[data-v-9266217b] {
    margin-top: 20px;
    display: flex;
    justify-content: space-between
}

.center-container .submit-money .balance .green[data-v-9266217b] {
    color: var(--btn-bg)
}

.center-container .submit-money .balance .gray[data-v-9266217b] {
    color: var(--font-color3-pc)
}

.center-container .footer[data-v-9266217b] {
    margin-top: 30px
}

.center-container .footer button[data-v-9266217b] {
    background: var(--btn-bg);
    color: var(--font-btn);
    height: 50px;
    width: 100%;
    border-radius: 9999px;
    border-style: none;
    text-align: center;
    line-height: 50px
}

@media screen and (max-width: 992px) {
    .popup-content[data-v-9266217b] {
        width:100%
    }

    .submit_top[data-v-9266217b] {
        margin-left: 3vw;
        margin-right: 3vw;
        margin-top: 4vw;
        border-radius: 2vw;
        padding: 3vw 4vw
    }

    .submit_top .user_rate[data-v-9266217b],.submit_top .des_title[data-v-9266217b] {
        display: none
    }

    .submit_top .submit_des[data-v-9266217b] {
        margin-top: 5vw;
        margin-bottom: 5vw
    }

    .center-container[data-v-9266217b] {
        padding: 2vw 3vw 10vw;
        min-height: 80vh;
        overflow-y: auto
    }
}

@media screen and (min-width: 992px) {
    .popup-content[data-v-9266217b] {
        width:800px
    }

    .submit_top[data-v-9266217b] {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;
        border-radius: 8px;
        padding: 20px 30px
    }

    .submit_top .user_rate[data-v-9266217b] {
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px
    }

    .submit_top .user_rate .line_num[data-v-9266217b] {
        display: flex;
        flex: 1 1 0%;
        flex-direction: column
    }

    .submit_top .user_rate .line_num>span[data-v-9266217b]:nth-child(1) {
        color: var(--font-win);
        font-family: Franklin Gothic Medium,Arial Narrow,Arial,sans-serif;
        font-size: 24px;
        line-height: 20px
    }

    .submit_top .user_rate .quota[data-v-9266217b] {
        margin-left: 10px;
        width: 100%;
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
        justify-content: center
    }

    .submit_top .user_rate .quota .quota_line[data-v-9266217b] {
        display: flex;
        --un-text-opacity: 1;
        color: rgb(136 136 136 / var(--un-text-opacity))
    }

    .submit_top .user_rate .quota .quota_line span[data-v-9266217b]:nth-child(1) {
        margin-right: 10px;
        display: inline-block;
        text-align: right
    }

    .submit_top .user_rate .quota .quota_line .ma-span[data-v-9266217b] {
        color: #fff
    }

    .submit_top .des_title[data-v-9266217b] {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 15px;
        --un-text-opacity: 1;
        color: rgb(249 142 64 / var(--un-text-opacity));
        font-weight: 400;
        line-height: 15px
    }

    .center-container[data-v-9266217b] {
        padding: 30px 50px
    }

    .center-container .submit-money[data-v-9266217b] {
        background: var(--data-bg-main)
    }
}
