.white-color-text[data-v-2a017c07] {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 36px
}

.white-color-text span[data-v-2a017c07] {
    margin-right: 10px
}

.white-color-text span[data-v-2a017c07]:nth-child(2) {
    margin-top: 3px
}

.top-head[data-v-2a017c07] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px
}

.top-head .input-wrap[data-v-2a017c07] {
    width: 300px;
    height: 32px;
    position: relative;
    display: flex
}

.top-head .input-wrap .svg-img[data-v-2a017c07] {
    font-size: 16px;
    color: #5e5e7a;
    position: absolute;
    left: 10px;
    top: 8px;
    z-index: 10
}

.top-head .input-wrap input[data-v-2a017c07] {
    flex: 1;
    height: 32px;
    border-radius: 12px;
    border: 1px solid var(--data-bg18);
    background: var(--content-bg);
    padding-left: 30px;
    font-size: 14px
}

.table-wrap[data-v-827ff806] {
    max-height: 1014px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 2px solid #2c2c3e;
    padding: 20px
}

.table-wrap .table-head[data-v-827ff806] {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px
}

.table-wrap .table-head .right[data-v-827ff806] {
    width: 180px;
    text-align: center;
    font-size: 14px;
    color: #84849f
}

.table-wrap .table-head .right .btn[data-v-827ff806] {
    margin-left: 5px;
    padding: 3px 8px;
    border-radius: 16px;
    border: 1px solid #84849f;
    cursor: pointer
}

.table-wrap .table-head .right .btn[data-v-827ff806]:hover {
    opacity: .8
}

.table-wrap .table-head .check-wrap[data-v-827ff806] {
    display: flex;
    align-items: center
}

.table-wrap .table-head .check-wrap>span[data-v-827ff806] {
    margin-left: 5px
}

.table-wrap .table-head .check-wrap .icon-checked.unchecked svg[data-v-827ff806] {
    fill: #adadc0
}

.data-list[data-v-827ff806] {
    width: 100%;
    height: 650px;
    margin-top: 30px;
    text-align: center
}

.data-list .titles[data-v-827ff806] {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #5e5e7a;
    font-size: 12px
}

.data-list .list-wrap[data-v-827ff806] {
    height: 630px;
    overflow-y: auto
}

.data-list .item[data-v-827ff806] {
    height: 80px;
    border-bottom: 1px solid var(--border-color);
    background: var(--content-bg);
    display: flex;
    align-items: center;
    font-size: 14px
}

.data-list .column[data-v-827ff806] {
    text-align: center
}

.data-list .column0[data-v-827ff806] {
    width: 15%;
    text-align: left;
    display: flex;
    align-items: center
}

.data-list .column0 img[data-v-827ff806] {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px
}

.data-list .column1[data-v-827ff806] {
    width: 15%
}

.data-list .column2[data-v-827ff806] {
    width: 55%
}

.data-list .column3[data-v-827ff806] {
    width: 15%
}

.data-list .column4[data-v-827ff806] {
    width: 15%;
    text-align: right;
    cursor: pointer;
    position: relative
}

.data-list .column4 i[data-v-827ff806] {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #bbb;
    margin-left: 3px
}

.data-list .column4 .sub-list[data-v-827ff806] {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 9;
    width: 96px;
    background: var(--data-bg18);
    box-shadow: 1px 2px 6px #0000007d;
    border-radius: 4px;
    border: 1px solid var(--data-bg19);
    display: flex;
    flex-direction: column;
    transition: all .3s;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    color: #9090ad;
    height: auto;
    font-size: 14px
}

.data-list .column4 .sub-list .sub-title[data-v-827ff806] {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 24px;
    text-align: center;
    cursor: pointer;
    color: var(--font-color-main)
}

.data-list .column4 .sub-list .sub-title[data-v-827ff806]:hover {
    background: var(--data-bg7)
}

.data-list .column4:hover>.sub-list[data-v-827ff806] {
    opacity: 1;
    top: 30px;
    visibility: visible
}

.content[data-v-9b30ddf1] {
    padding: 5px 20px
}

.btn-group[data-v-9b30ddf1] {
    box-sizing: border-box;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    display: flex;
    flex-wrap: initial;
    flex-direction: initial;
    align-items: center;
    justify-content: space-between
}

.btn-group button[data-v-9b30ddf1] {
    border: 0;
    outline: none;
    width: 170px;
    height: 50px;
    line-height: 15px;
    display: flex;
    flex-wrap: initial;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 99px
}

.btn-group button[data-v-9b30ddf1]:nth-of-type(1) {
    background: var(--data-bg7)
}

.btn-group button[data-v-9b30ddf1]:nth-of-type(2) {
    background: var(--btn-bg);
    color: var(--font-color-btn)
}

.data-list[data-v-c3016f73] {
    width: 100%;
    height: 650px;
    margin-top: 30px;
    text-align: center
}

.data-list .titles[data-v-c3016f73] {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #5e5e7a;
    font-size: 12px
}

.data-list .list-wrap[data-v-c3016f73] {
    height: 630px;
    overflow-y: auto
}

.data-list .item[data-v-c3016f73] {
    height: 80px;
    border-bottom: 1px solid var(--border-color);
    background: var(--content-bg);
    display: flex;
    align-items: center;
    font-size: 14px
}

.data-list .column[data-v-c3016f73] {
    text-align: center
}

.data-list .column0[data-v-c3016f73] {
    width: 15%;
    text-align: left;
    display: flex;
    align-items: center
}

.data-list .column0 img[data-v-c3016f73] {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px
}

.data-list .column1[data-v-c3016f73] {
    width: 15%
}

.data-list .column2[data-v-c3016f73] {
    width: 55%
}

.data-list .column3[data-v-c3016f73] {
    width: 15%
}

.data-list .column4[data-v-c3016f73] {
    width: 15%;
    text-align: right;
    cursor: pointer;
    position: relative
}

.data-list .column4 i[data-v-c3016f73] {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #bbb;
    margin-left: 3px
}

.data-list .column4 .sub-list[data-v-c3016f73] {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 9;
    width: 96px;
    background: var(--data-bg18);
    box-shadow: 1px 2px 6px #0000007d;
    border-radius: 4px;
    border: 1px solid var(--data-bg19);
    display: flex;
    flex-direction: column;
    transition: all .3s;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    color: #9090ad;
    height: auto;
    font-size: 14px
}

.data-list .column4 .sub-list .sub-title[data-v-c3016f73] {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 24px;
    text-align: center;
    cursor: pointer;
    color: var(--font-color-main)
}

.data-list .column4 .sub-list .sub-title[data-v-c3016f73]:hover {
    background: var(--data-bg7)
}

.data-list .column4:hover>.sub-list[data-v-c3016f73] {
    opacity: 1;
    top: 30px;
    visibility: visible
}

.cfrom[data-v-b9828931] {
    padding-top: 10px
}

.content[data-v-b9828931] {
    text-align: center;
    padding: 30px 50px
}

.btn-group[data-v-b9828931] {
    box-sizing: border-box;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    display: flex;
    flex-wrap: initial;
    flex-direction: initial;
    align-items: center;
    justify-content: space-between
}

.btn-group button[data-v-b9828931] {
    border: 0;
    outline: none;
    width: 170px;
    height: 50px;
    line-height: 15px;
    display: flex;
    flex-wrap: initial;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 99px
}

.btn-group button[data-v-b9828931]:nth-of-type(1) {
    background: var(--data-bg7)
}

.btn-group button[data-v-b9828931]:nth-of-type(2) {
    background: var(--btn-bg);
    color: var(--font-color-btn)
}

.cfrom[data-v-26345b3a] {
    padding: 20px
}

.btn-group[data-v-26345b3a] {
    box-sizing: border-box;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    display: flex;
    flex-wrap: initial;
    flex-direction: initial;
    align-items: center;
    justify-content: space-between
}

.btn-group button[data-v-26345b3a] {
    border: 0;
    outline: none;
    width: 170px;
    height: 50px;
    line-height: 15px;
    display: flex;
    flex-wrap: initial;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 99px
}

.btn-group button[data-v-26345b3a]:nth-of-type(1) {
    background: var(--data-bg7)
}

.btn-group button[data-v-26345b3a]:nth-of-type(2) {
    background: var(--btn-bg);
    color: var(--font-color-btn)
}

.content[data-v-426ad4a8] {
    padding: 5px 20px
}

.table-wrap[data-v-d43af475] {
    max-height: 1014px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 2px solid #2c2c3e;
    padding: 20px
}

.table-wrap .table-head[data-v-d43af475] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px
}

.table-wrap .table-head .right[data-v-d43af475] {
    width: 180px;
    text-align: center;
    font-size: 14px;
    color: #84849f
}

.table-wrap .table-head .right .btn[data-v-d43af475] {
    margin-left: 5px;
    padding: 3px 8px;
    border-radius: 16px;
    border: 1px solid #84849f;
    cursor: pointer
}

.table-wrap .table-head .right .btn[data-v-d43af475]:hover {
    opacity: .8
}

.table-wrap .table-head .check-wrap[data-v-d43af475] {
    display: flex;
    align-items: center
}

.table-wrap .table-head .check-wrap>span[data-v-d43af475] {
    margin-left: 5px
}

.table-wrap .table-head .check-wrap .icon-checked.unchecked svg[data-v-d43af475] {
    fill: #adadc0
}

.active-btn-bg[data-v-d43af475] {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--primary-color);
    transition: transform .3s ease
}

.white-color-text[data-v-d43af475] {
    color: var(--font-color-main)
}

.vben-layout-content[data-v-c205a768] {
    position: relative;
    flex: 1 1 auto;
    min-height: 0
}

.assets-address[data-v-c205a768] {
    width: 1360px;
    margin: 0 auto
}
