<div class="assets-page w-1360px mx-auto pt-30px">
  <div data-v-0d18b85f="" class="cm-tabs-container">
    <div data-v-0d18b85f="" class="cm-tabs-nav">
      <div data-v-0d18b85f="" class="cm-tabs-start-line"><span data-v-0d18b85f="" class="cm-tab active"
          style="font-size: 18px; line-height: 50px;">資產總覽<!----><!----></span><span data-v-0d18b85f="" class="cm-tab"
          style="font-size: 18px; line-height: 50px;">現貨賬戶<!----><!----></span><span data-v-0d18b85f="" class="cm-tab"
          style="font-size: 18px; line-height: 50px;">期權賬戶<!----><!----></span><span data-v-0d18b85f="" class="cm-tab"
          style="font-size: 18px; line-height: 50px;">合約賬戶<!----><!----></span><span data-v-0d18b85f="" class="cm-tab"
          style="font-size: 18px; line-height: 50px;">訂單中心<!----><!----></span><span data-v-0d18b85f="" class="cm-tab"
          style="font-size: 18px; line-height: 50px;">劃轉<!----><!----></span><span data-v-0d18b85f="" class="cm-tab"
          style="font-size: 18px; line-height: 50px;">閃兌<!----><!----></span>
        <div data-v-0d18b85f="" class="slider"
          style="width: 88px; left: 0px; transition: 0.3s; opacity: 1; background-color: rgb(255, 255, 255);"></div>
      </div>
    </div><!---->
  </div>
</div>