<div data-v-c77c7109="" class="customer-page">
  <div data-v-c77c7109="" class="customer-top">
    <div data-v-c77c7109="" class="customer-left-content">
      <h1 data-v-c77c7109="">和好友一起賺錢</h1>
      <h4 data-v-c77c7109="">推薦用戶的交易可享最高20%傭金</h4><img data-v-c77c7109="" src="/assets/share-top-bg-DRWqpfVP.png"
        class="w-full h-514px">
    </div>
    <div data-v-c77c7109="" class="customer-right-content">
      <div data-v-c77c7109="" class="amount-row mb-40px">
        <div data-v-c77c7109="" class="van-cell van-field input-border" style="--van-field-label-color: #c8c9cc;">
          <!---->
          <div class="van-cell__title van-field__label lh-15px flex items-center"><label id="van-field-2-label"
              for="van-field-2-input" data-allow-mismatch="attribute">邀請碼</label><!----></div>
          <div class="van-cell__value van-field__value">
            <div class="van-field__body"><input type="text" id="van-field-2-input" class="van-field__control"
                readonly="" placeholder="邀請碼" aria-labelledby="van-field-2-label"
                data-allow-mismatch="attribute"><!----><!----><!----></div><!----><!---->
          </div><!----><span data-v-c77c7109="" class="copy-span"><svg data-v-c77c7109=""
              class="w-25px h-25px color-white">
              <use data-v-c77c7109="" xlink:href="#icon-copy"></use>
            </svg></span>
        </div>
      </div>
      <div data-v-c77c7109="" class="amount-row">
        <div data-v-c77c7109="" class="van-cell van-field input-border" style="--van-field-label-color: #c8c9cc;">
          <!---->
          <div class="van-cell__title van-field__label lh-15px flex items-center"><label id="van-field-3-label"
              for="van-field-3-input" data-allow-mismatch="attribute">邀請鏈接</label><!----></div>
          <div class="van-cell__value van-field__value">
            <div class="van-field__body"><input type="text" id="van-field-3-input" class="van-field__control"
                readonly="" placeholder="邀請鏈接" aria-labelledby="van-field-3-label"
                data-allow-mismatch="attribute"><!----><!----><!----></div><!----><!---->
          </div><!----><span data-v-c77c7109="" class="copy-span"><svg data-v-c77c7109=""
              class="w-25px h-25px color-white">
              <use data-v-c77c7109="" href="#icon-copy"></use>
            </svg></span>
        </div>
      </div><button data-v-c77c7109="" class="create-qrcode mt-70px"><i data-v-c77c7109=""
          class="van-badge__wrapper van-icon van-icon-qr" style="font-size: 25px;"><!----><!----><!----></i><span
          data-v-c77c7109="" class="text-black text-14px fw-700">生成二維碼</span></button>
      <h4 data-v-c77c7109="" class="mt-40px mb-20px text-18px text-white">我的邀請</h4>
      <section data-v-c77c7109="" class="my-invite">
        <div data-v-c77c7109=""><span data-v-c77c7109="" class="amount">0</span><span data-v-c77c7109="">被邀請人數</span>
        </div>
        <div data-v-c77c7109=""><span data-v-c77c7109="" class="amount">0</span><span data-v-c77c7109="">總返利</span>
        </div>
        <div data-v-c77c7109=""><span data-v-c77c7109="" class="amount">--</span><span data-v-c77c7109="">今日返利</span>
        </div>
        <div data-v-c77c7109=""><span data-v-c77c7109="" class="amount">--</span><span data-v-c77c7109="">本月返利</span>
        </div>
      </section>
    </div>
  </div>
</div>