<div class="w-1360px mx-auto min-h-1026px pt-30px pb-70px">
  <section data-v-c7060be7="" class="section-top no-vw">
    <div data-v-c7060be7="" class="left">
      <h4 data-v-c7060be7="" class="white-color-text">充值</h4>
      <div data-v-c7060be7="" class="content">
        <div data-v-c7060be7="" class="steps">
          <div data-v-c7060be7="" class="step active"><span data-v-c7060be7="">1</span></div>
          <div data-v-c7060be7="" class="line"></div>
          <div data-v-c7060be7="" class="step active">2</div>
        </div>
        <div data-v-c7060be7="" class="operate-area">
          <div data-v-8374c058="" data-v-c7060be7="" class="select-container">
            <div data-v-8374c058="" class="select-header" role="button" aria-expanded="false" tabindex="0"><span
                data-v-8374c058="">選擇幣種</span><span data-v-8374c058=""><img data-v-8374c058=""
                  src="https://obobs-res.oss-cn-hongkong.aliyuncs.com/echo2.0641ec97345654e7e99e024bcb569c9fd.png"
                  class="currency-icon"><span data-v-8374c058="" class="selected-value">USDC</span>
                <div data-v-8374c058="" class="svg-container svg-img" style="fill: rgb(122, 122, 151);"><svg
                    data-v-8374c058="" width="8" height="5" viewBox="0 0 8 5" xmlns="http://www.w3.org/2000/svg">
                    <path data-v-8374c058="" fill-rule="evenodd" clip-rule="evenodd" d="M4 5L8 0H0L4 5Z"></path>
                  </svg></div>
              </span></div>
            <div data-v-8374c058="" class="select-dropdown" role="listbox" style="display: none;">
              <div data-v-8374c058="" class="select-options">
                <div data-v-8374c058="" class="li is-selected" role="option" aria-selected="true"><span
                    data-v-8374c058=""><img data-v-8374c058=""
                      src="https://obobs-res.oss-cn-hongkong.aliyuncs.com/echo2.0641ec97345654e7e99e024bcb569c9fd.png"></span><span
                    data-v-8374c058="">USDC</span></div>
                <div data-v-8374c058="" class="li" role="option" aria-selected="false"><span data-v-8374c058=""><img
                      data-v-8374c058=""
                      src="https://obobs-res.oss-cn-hongkong.aliyuncs.com/echo2.07cb4c3aad2bb48e6931717ca2a434992.png"></span><span
                    data-v-8374c058="">BTC</span></div>
                <div data-v-8374c058="" class="li" role="option" aria-selected="false"><span data-v-8374c058=""><img
                      data-v-8374c058=""
                      src="https://bitcotyrax.oss-ap-southeast-1.aliyuncs.com/image12088530d64b4a4a9c7140f6c657d4fc.png"></span><span
                    data-v-8374c058="">USDT-Ethereum</span></div>
                <div data-v-8374c058="" class="li" role="option" aria-selected="false"><span data-v-8374c058=""><img
                      data-v-8374c058=""
                      src="https://obobs-res.oss-cn-hongkong.aliyuncs.com/echo2.086465caa1a2641c99dd78dd8acf68902.png"></span><span
                    data-v-8374c058="">ETH-Ethereum</span></div>
                <div data-v-8374c058="" class="li" role="option" aria-selected="false"><span data-v-8374c058=""><img
                      data-v-8374c058=""
                      src="https://obobs-res.oss-cn-hongkong.aliyuncs.com/echo2.0ee2aa5e6c6f5459abc021db0b8635d9d.jpg"></span><span
                    data-v-8374c058="">SOL</span></div>
                <div data-v-8374c058="" class="li" role="option" aria-selected="false"><span data-v-8374c058=""><img
                      data-v-8374c058=""
                      src="https://bitcotyrax.oss-ap-southeast-1.aliyuncs.com/imaged154e0b6523a47f6ae1dd1fbf4b0239e.png"></span><span
                    data-v-8374c058="">DOT</span></div>
                <div data-v-8374c058="" class="li" role="option" aria-selected="false"><span data-v-8374c058=""><img
                      data-v-8374c058=""
                      src="https://bitcotyrax.oss-ap-southeast-1.aliyuncs.com/image7d305e115f7844318aa76861cf326244.png"></span><span
                    data-v-8374c058="">LTC</span></div>
                <div data-v-8374c058="" class="li" role="option" aria-selected="false"><span data-v-8374c058=""><img
                      data-v-8374c058=""
                      src="https://bitcotyrax.oss-ap-southeast-1.aliyuncs.com/imagebca173959d1e43aaa11f45407784dd8a.png"></span><span
                    data-v-8374c058="">TRUMP</span></div>
                <div data-v-8374c058="" class="li" role="option" aria-selected="false"><span data-v-8374c058=""><img
                      data-v-8374c058=""
                      src="https://bitcotyrax.oss-ap-southeast-1.aliyuncs.com/image24000971ed5f410898cb1b0c0a1ba75e.png"></span><span
                    data-v-8374c058="">XRP</span></div>
                <div data-v-8374c058="" class="li" role="option" aria-selected="false"><span data-v-8374c058=""><img
                      data-v-8374c058=""
                      src="https://bitcotyrax.oss-ap-southeast-1.aliyuncs.com/image83508f9ccc724278882e1613d22c65e4.png"></span><span
                    data-v-8374c058="">XAU</span></div>
                <div data-v-8374c058="" class="li" role="option" aria-selected="false"><span data-v-8374c058=""><img
                      data-v-8374c058=""
                      src="https://bitcotyrax.oss-ap-southeast-1.aliyuncs.com/imagebf115012a7bc4ffb8e174e01cf8224de.png"></span><span
                    data-v-8374c058="">LINK</span></div>
                <div data-v-8374c058="" class="li" role="option" aria-selected="false"><span data-v-8374c058=""><img
                      data-v-8374c058=""
                      src="https://bitcotyrax.oss-ap-southeast-1.aliyuncs.com/image27a2d39ecd3944a28fdb2b4fc6e2377e.png"></span><span
                    data-v-8374c058="">DOGE</span></div>
              </div>
            </div>
          </div>
          <div data-v-f3da6b5b="" data-v-c7060be7="" class="cm-input-box-pc"><span data-v-f3da6b5b="">存入金額</span><input
              data-v-f3da6b5b="" title="存入金額" class="numeric-input text-right" type="text" placeholder="輸入金額"><!---->
          </div>
          <div data-v-c7060be7="" class="amount-convert">我會得到 </div>
          <ul data-v-c7060be7="" class="tips">
            <li data-v-c7060be7="">此操作將向您的錢包充值 <span data-v-c7060be7="" style="color: rgb(255, 255, 255);">合約帳戶</span>
            </li>
            <li data-v-c7060be7="">預計需要 1 次區塊鏈網絡確認才能到帳。</li>
            <li data-v-c7060be7="">充值/存款時務必確認網絡與提幣平台相同，否則資產將無法找回。</li>
            <li data-v-c7060be7="">如款項未按時到帳，請立即聯繫客服核實。 <span data-v-c7060be7=""
                style="color: rgb(255, 255, 255);">線上客服</span></li>
          </ul><button data-v-c7060be7="" class="next-btn">提交</button>
        </div>
      </div>
    </div>
    <div data-v-c7060be7="" class="deposit-page">
      <div data-v-c7060be7=""
        class="box-border w-35vw h-35vw sm:w-20vw sm:h-20vw mx-auto my-3vw px-8vw flex items-center justify-center">
        <canvas data-v-c7060be7="" class="w-full h-full" height="300" width="300"
          style="height: 300px; width: 300px;"></canvas></div>
      <div data-v-c7060be7="" class="label-row">帳戶地址</div>
      <div data-v-c7060be7="" class="c-input-box"><input data-v-c7060be7="" type="text" placeholder="帳戶地址" disabled=""
          value="0x403AD07CBd18B2583f7AeAeC2fC807e66a2cA692"><svg data-v-c7060be7=""
          class="text-[#00F0FF] w-2vw h-2vw ml-3vw cursor">
          <use data-v-c7060be7="" href="#icon-copy"></use>
        </svg></div>
      <div data-v-c7060be7="" class="limit-info">
        <div data-v-c7060be7="">最低充值限額: 1 USDC</div>
        <div data-v-c7060be7="">最高充值限額 : 10000000 USDC</div>
      </div>
    </div>
  </section>
  <section data-v-1ba04a49="" class="section-bottom no-vw">
    <h3 data-v-1ba04a49=""><span data-v-1ba04a49="" class="white-color-text">近期充值記錄</span><span data-v-1ba04a49=""
        class="blue-color-text">查看歷史記錄</span></h3>
    <div data-v-1ba04a49="" class="data-list">
      <div data-v-1ba04a49="" class="titles">
        <div data-v-1ba04a49="" class="column column0">交易時間</div>
        <div data-v-1ba04a49="" class="column column1">加密貨幣</div>
        <div data-v-1ba04a49="" class="column column2">交易類型</div>
        <div data-v-1ba04a49="" class="column column2">狀態</div>
        <div data-v-1ba04a49="" class="column column3">數量</div>
        <div data-v-1ba04a49="" class="column column5">手續費</div>
        <div data-v-1ba04a49="" class="column column6">狀態</div>
      </div>
      <div data-v-1ba04a49="" class="list-wrap">
        <div data-v-cdbe59d8="" data-v-1ba04a49="" class="svg-container cm-empty-image" description="暫無數據"
          style="fill: rgb(0, 240, 255);"><svg width="66" height="50" viewBox="0 0 66 50" fill="none"
            xmlns="http://www.w3.org/2000/svg" class="svg-class" data-v-cdbe59d8="">
            <path
              d="M7.33936 7.80139H46.3551V24.4C46.3551 33.3608 46.3551 37.8412 44.6112 41.2638C43.0773 44.2744 40.6296 46.7221 37.619 48.2561C34.1964 50 29.716 50 20.7551 50H13.7394C11.4991 50 10.379 50 9.52339 49.564C8.77075 49.1805 8.15882 48.5686 7.77533 47.8159C7.33936 46.9603 7.33936 45.8402 7.33936 43.6V7.80139Z"
              fill="white" fill-opacity="0.04" data-v-cdbe59d8=""></path>
            <path
              d="M7.8014 49.9995C3.4928 49.9995 0 46.5067 0 42.1981H33.0283C33.0283 49.9995 40.3679 49.9995 40.3679 49.9995H7.8014Z"
              fill="url(#paint0_linear_863_39965)" data-v-cdbe59d8=""></path>
            <path
              d="M15.1408 -2.6226e-05C10.8322 -2.6226e-05 7.33936 3.49279 7.33936 7.80139H46.3552C46.3552 -2.6226e-05 53.6948 -2.6226e-05 53.6948 -2.6226e-05H15.1408Z"
              fill="url(#paint1_linear_863_39965)" data-v-cdbe59d8=""></path>
            <rect x="13.2173" y="13.3334" width="17.7606" height="2.5" rx="1.25" fill="white" fill-opacity="0.06"
              data-v-cdbe59d8=""></rect>
            <rect x="13.2173" y="22.0833" width="12.3911" height="2.50001" rx="1.25" fill="white" fill-opacity="0.06"
              data-v-cdbe59d8=""></rect>
            <rect x="13.2173" y="30.8333" width="16.5215" height="2.50001" rx="1.25" fill="white" fill-opacity="0.06"
              data-v-cdbe59d8=""></rect>
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M59.5244 29.0085C59.5244 34.755 54.9639 39.4135 49.3384 39.4135C43.7128 39.4135 39.1523 34.755 39.1523 29.0085C39.1523 23.262 43.7128 18.6035 49.3384 18.6035C54.9639 18.6035 59.5244 23.262 59.5244 29.0085ZM55.8508 29.1791C55.8508 32.9473 52.8603 36.002 49.1714 36.002C45.4825 36.002 42.4921 32.9473 42.4921 29.1791C42.4921 25.4109 45.4825 22.3562 49.1714 22.3562C52.8603 22.3562 55.8508 25.4109 55.8508 29.1791Z"
              fill="#7A7A97" data-v-cdbe59d8=""></path>
            <path
              d="M49.1715 36.0021C52.8605 36.0021 55.8509 32.9473 55.8509 29.1791C55.8509 25.4109 52.8605 22.3562 49.1715 22.3562C45.4826 22.3562 42.4922 25.4109 42.4922 29.1791C42.4922 32.9473 45.4826 36.0021 49.1715 36.0021Z"
              fill="#00A609" fill-opacity="0.1" data-v-cdbe59d8=""></path>
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M59.3054 39.7336L56.4507 36.7375L57.255 35.9489L60.1098 38.945L59.3054 39.7336Z" fill="#7A7A97"
              data-v-cdbe59d8=""></path>
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M61.8237 39.0827C61.5076 38.7598 61.0934 38.5984 60.6792 38.5984C60.2649 38.5984 59.8507 38.7598 59.5346 39.0827C59.2186 39.4055 59.0605 39.8286 59.0605 40.2518C59.0605 40.6749 59.2186 41.0981 59.5346 41.4209L63.2368 45.2026C63.5528 45.5255 63.967 45.6869 64.3813 45.6869C64.7955 45.6869 65.2098 45.5255 65.5258 45.2026C65.8419 44.8798 65.9999 44.4567 65.9999 44.0335C65.9999 43.6104 65.8419 43.1872 65.5258 42.8644L61.8237 39.0827Z"
              fill="#7A7A97" data-v-cdbe59d8=""></path>
            <defs data-v-cdbe59d8="">
              <linearGradient id="paint0_linear_863_39965" x1="22.6228" y1="42.1981" x2="22.6228" y2="49.9995"
                gradientUnits="userSpaceOnUse" data-v-cdbe59d8="">
                <stop stop-color="white" stop-opacity="0.08" data-v-cdbe59d8=""></stop>
                <stop offset="1" stop-color="white" stop-opacity="0.04" data-v-cdbe59d8=""></stop>
              </linearGradient>
              <linearGradient id="paint1_linear_863_39965" x1="33.3177" y1="7.80139" x2="33.3177" y2="-2.6226e-05"
                gradientUnits="userSpaceOnUse" data-v-cdbe59d8="">
                <stop stop-color="white" stop-opacity="0.04" data-v-cdbe59d8=""></stop>
                <stop offset="1" stop-color="white" stop-opacity="0.08" data-v-cdbe59d8=""></stop>
              </linearGradient>
            </defs>
          </svg></div>
      </div>
    </div>
    <section data-v-358ca926="" data-v-1ba04a49="" class="full-loading" style="display: none;">
      <div class="spinner" data-v-358ca926="">
        <div class="rect1" data-v-358ca926=""></div>
        <div class="rect2" data-v-358ca926=""></div>
        <div class="rect3" data-v-358ca926=""></div>
        <div class="rect4" data-v-358ca926=""></div>
        <div class="rect5" data-v-358ca926=""></div>
      </div>
    </section>
  </section>
</div>