.contentx[data-v-854079ac] {
    box-sizing: border-box;
    padding: 30px 0;
    width: 420px;
    margin: 0 auto;
    overflow: hidden
}

.contentx .risk-info[data-v-854079ac] {
    box-sizing: border-box;
    height: 30px;
    display: flex;
    flex-wrap: initial;
    flex-direction: initial;
    align-items: center;
    justify-content: initial;
    margin-bottom: 30px;
    font-size: 20px
}

.contentx .risk-info .logo[data-v-854079ac] {
    width: 28px;
    height: 25px;
    margin-right: 18px
}

.contentx p[data-v-854079ac] {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    color: #919195;
    font-size: 16px
}

.contentx .btn-group[data-v-854079ac] {
    box-sizing: border-box;
    width: 100%;
    padding: 0 14px;
    display: flex;
    flex-wrap: initial;
    flex-direction: initial;
    align-items: center;
    justify-content: center
}

.contentx .btn-group button[data-v-854079ac] {
    border: 0;
    outline: none;
    width: 170px;
    height: 50px;
    line-height: 15px;
    display: flex;
    flex-wrap: initial;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 99px
}

.contentx .btn-group button[data-v-854079ac]:nth-of-type(1) {
    background: var(--btn-bg);
    color: var(--font-color-btn)
}

.blue-color-text[data-v-59e493f1] {
    margin-left: 20px;
    cursor: pointer;
    background: linear-gradient(90deg,#9bb8f0,#6491e9 49.79%,#556dea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.get-address[data-v-59e493f1] {
    height: 44px;
    border-radius: 6px;
    border: 1px solid var(--data-bg18);
    background: var(--content-bg);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #5e5e7a;
    background: #1f1f2f!important
}

.get-address span[data-v-59e493f1] {
    color: #5e5e7a
}

.get-address input[data-v-59e493f1] {
    flex: 1;
    height: 42px;
    border: none;
    outline: none;
    background: var(--content-bg);
    text-align: right;
    color: #fff;
    padding-right: 8px;
    background: #1f1f2f!important
}

.get-address .bookwrap[data-v-59e493f1] {
    width: 43px;
    height: 100%;
    border-radius: 0 5px 5px 0;
    background: linear-gradient(90deg,#6491e9 49.79%,#556dea);
    display: flex;
    flex-wrap: initial;
    flex-direction: initial;
    align-items: center;
    justify-content: center
}

.get-address .bookwrap .svg-container[data-v-59e493f1] {
    display: inline-flex
}

.section-top[data-v-59e493f1] {
    width: 100%;
    min-height: 434px;
    margin-bottom: 30px;
    margin-right: 30px;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between
}

.section-top .left[data-v-59e493f1] {
    flex: 1
}

.section-top .left h4[data-v-59e493f1] {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 30px
}

.section-top .left .content[data-v-59e493f1] {
    display: flex
}

.section-top .left .content .steps[data-v-59e493f1] {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.section-top .left .content .steps .line[data-v-59e493f1] {
    width: 0;
    height: 222px;
    border: 1px dashed var(--font-color3-pc);
    margin: 10px 0
}

.section-top .left .content .steps .step[data-v-59e493f1] {
    width: 20px;
    height: 20px;
    border: 1px solid #5e5e7a;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    color: #5e5e7a
}

.section-top .left .content .steps .step.active[data-v-59e493f1] {
    color: #fff;
    border-color: #fff
}

.section-top .left .content .operate-area[data-v-59e493f1] {
    margin-left: 35px;
    position: relative
}

.section-top .left .content .tips[data-v-59e493f1] {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-left: 20px;
    color: var(--font-color3-pc);
    font-size: 14px
}

.section-top .left .content .tips li[data-v-59e493f1] {
    list-style-type: disc;
    margin-top: 5px
}

.section-top .left .content .operate-area .next-btn[data-v-59e493f1] {
    width: 456px;
    height: 46px;
    line-height: 46px;
    border-radius: 99px;
    margin-top: 30px;
    background: var(--btn-bg);
    color: var(--font-color-btn);
    text-align: center;
    cursor: pointer
}

.section-top .left .content .operate-area .view-detail[data-v-59e493f1] {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #5e5e7a
}

.section-top .left .content .operate-area .view-detail .last-step[data-v-59e493f1] {
    margin-left: 20px;
    cursor: pointer
}

.section-top .left .content .operate-area .view-detail .last-step[data-v-59e493f1]:hover {
    color: #5e5e7a
}

.section-top .left .content .operate-area .view-detail.step2[data-v-59e493f1] {
    color: #fff
}

.section-top .left .content .operate-area .code-wrap[data-v-59e493f1] {
    width: 456px;
    height: 130px;
    border-radius: 6px;
    border: 1px solid var(--data-bg18);
    padding: 15px 20px;
    background: #1f1f2f;
    display: flex;
    align-items: center;
    margin-top: 20px
}

.section-top .left .content .operate-area .code-wrap .qrcode[data-v-59e493f1] {
    width: 100px!important;
    height: 100px!important;
    border-radius: 6px
}

.section-top .left .content .operate-area .code-wrap .right-div[data-v-59e493f1] {
    padding-left: 10px;
    width: 262px;
    word-wrap: break-word
}

.section-top .left .content .operate-area .code-wrap .right-div p[data-v-59e493f1] {
    margin-bottom: 0
}

.section-top .left .content .operate-area .code-wrap .right-div p[data-v-59e493f1]:nth-child(1) {
    color: var(--font-color3-pc);
    font-size: 12px;
    margin-bottom: 8px
}

.section-top .left .content .operate-area .code-wrap .copy[data-v-59e493f1] {
    width: 24px;
    height: 24px;
    margin-left: 20px;
    cursor: pointer
}

.section-top .left .content .operate-area .coin-count[data-v-59e493f1] {
    width: 456px;
    height: 44px;
    position: relative;
    border-radius: 6px;
    border: 1px solid var(--data-bg18);
    background: var(--content-bg);
    color: #5e5e7a;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px
}

.section-top .left .content .operate-area .coin-count input[data-v-59e493f1] {
    flex: 1;
    height: 42px;
    border: none;
    outline: none;
    color: #fff;
    background: var(--content-bg);
    text-align: right
}

.section-top .left .content .operate-area .coin-count input[data-v-59e493f1]::-webkit-outer-spin-button,.section-top .left .content .operate-area .coin-count input[data-v-59e493f1]::-webkit-inner-spin-button {
    display: none!important
}

.section-top .left .content .operate-area .amount-convert[data-v-59e493f1] {
    color: #888;
    margin: 5px auto 0
}

.section-top .right-con[data-v-59e493f1] {
    flex: none;
    width: 550px;
    box-sizing: border-box;
    margin-left: 100px;
    margin-top: 50px
}

.section-top .right-con .row[data-v-59e493f1] {
    color: var(--font-color3-pc);
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px
}

.section-top .right-con .card-group[data-v-59e493f1] {
    display: flex;
    justify-content: space-between;
    cursor: pointer
}

.section-top .right-con .card[data-v-59e493f1] {
    width: 240px;
    padding: 16px 20px;
    min-height: 103px;
    border-radius: 12px;
    border: 1px solid var(--data-bg18);
    display: flex;
    flex-direction: column
}

.section-top .right-con .title[data-v-59e493f1] {
    font-size: 18px;
    height: 27px;
    line-height: 27px;
    margin-bottom: 8px
}

.section-top .right-con .info[data-v-59e493f1] {
    color: var(--font-color3-pc)
}

.section-top .section-top h4[data-v-59e493f1] {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 30px
}

.section-top .count-fee-item[data-v-59e493f1] {
    margin-top: 20px;
    display: flex;
    align-items: center
}

.section-top .count-fee-item span[data-v-59e493f1]:nth-child(1) {
    color: #5e5e7a
}

.section-top .count-fee-item span[data-v-59e493f1]:nth-child(2) {
    margin-left: 20px
}

.section-top .count-fee-item .icon-question[data-v-59e493f1] {
    background-image: url("data:image/svg+xml,%3csvg%20width='14'%20height='14'%20viewBox='0%200%2014%2014'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20clip-path='url(%23clip0_17615_44684)'%3e%3cpath%20d='M7.00016%2013.09C3.63673%2013.09%200.910156%2010.3634%200.910156%206.99997C0.910156%203.63654%203.63673%200.909973%207.00016%200.909973C10.3636%200.909973%2013.0902%203.63654%2013.0902%206.99997C13.0902%2010.3634%2010.3636%2013.09%207.00016%2013.09ZM7.00016%201.78C4.11728%201.78%201.78019%204.11709%201.78019%206.99997C1.78019%209.88285%204.11728%2012.22%207.00016%2012.22C9.88304%2012.22%2012.2202%209.88278%2012.2202%206.99997C12.2202%204.11709%209.88304%201.78%207.00016%201.78ZM8.55717%206.87495C8.42865%207.00543%208.19779%207.22523%207.86487%207.53442C7.77296%207.62143%207.69904%207.69794%207.64353%207.76409C7.58816%207.82982%207.54672%207.89023%207.5197%207.94504C7.49339%207.99764%207.47235%208.05272%207.45691%208.10947C7.44214%208.16428%207.41981%208.26053%207.38992%208.39836C7.33854%208.6904%207.1774%208.83656%206.90678%208.83656C6.76615%208.83656%206.6475%208.78861%206.55153%208.69327C6.45556%208.59793%206.4074%208.45569%206.4074%208.26753C6.4074%208.03142%206.44247%207.8273%206.51296%207.65447C6.58345%207.48164%206.67683%207.32995%206.7931%207.19919C6.90944%207.06878%207.06652%206.91352%207.26413%206.73369C7.43724%206.57619%207.56254%206.45761%207.63954%206.3776C7.71658%206.29783%207.78216%206.20774%207.83442%206.10992C7.8872%206.01164%207.91359%205.90489%207.91359%205.78974C7.91359%205.56497%207.83302%205.37534%207.67209%205.22078C7.51109%205.0665%207.30319%204.98908%207.04895%204.98908C6.7511%204.98908%206.53186%205.06706%206.39123%205.22281C6.2506%205.37884%206.13139%205.60851%206.03395%205.91189C5.94204%206.22948%205.76746%206.38803%205.51021%206.38803C5.35852%206.38803%205.23063%206.33266%205.12654%206.22164C5.02238%206.11083%204.97016%205.9905%204.97016%205.86142C4.97016%205.59437%205.05283%205.3241%205.21782%205.05033C5.38281%204.77628%205.62382%204.54948%205.9405%204.36972C6.25711%204.18989%206.62664%204.10001%207.04881%204.10001C7.44109%204.10001%207.7878%204.17512%208.08831%204.32534C8.38868%204.47556%208.62066%204.68003%208.78453%204.93868C8.94833%205.19705%209.03023%205.4781%209.03023%205.78141C9.03023%206.02011%208.98347%206.22948%208.89009%206.40931C8.79671%206.58907%208.68562%206.74419%208.55717%206.87495ZM6.95144%209.21988C7.12196%209.21988%207.26553%209.2805%207.3818%209.40118C7.49807%209.52221%207.55631%209.67096%207.55631%209.84785C7.55631%2010.0445%207.49541%2010.199%207.37368%2010.3115C7.25188%2010.4237%207.11125%2010.48%206.95144%2010.48C6.78638%2010.48%206.64225%2010.4246%206.51905%2010.3136C6.39578%2010.2025%206.33432%2010.0473%206.33432%209.84785C6.33432%209.67103%206.39375%209.52221%206.51296%209.40118C6.63217%209.2805%206.77833%209.21988%206.95144%209.21988Z'%20fill='%2300F0FF'/%3e%3c/g%3e%3cdefs%3e%3cclipPath%20id='clip0_17615_44684'%3e%3crect%20width='14'%20height='14'%20fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    margin: 0 20px 0 5px;
    cursor: pointer
}

.section-top .white-color-text[data-v-59e493f1] {
    color: var(--font-color-main)
}

.section-top .right-con[data-v-59e493f1] {
    flex: none;
    width: 550px
}

section.no-vw[data-v-59e493f1] {
    flex: none;
    border-radius: 12px;
    border: 2px solid var(--data-bg18)
}

.white-color-text[data-v-bc792607] {
    color: var(--font-color-main)
}

section.no-vw[data-v-bc792607] {
    flex: none;
    border-radius: 12px;
    border: 2px solid var(--data-bg18);
    background: var(--content-bg)
}

.section-bottom[data-v-bc792607] {
    box-sizing: border-box;
    width: 100%;
    min-height: 462px;
    padding: 0 30px;
    display: flex;
    flex-direction: column
}

.section-bottom h3[data-v-bc792607] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    height: 70px;
    line-height: 70px;
    margin: 0;
    padding: 0
}

.section-bottom .data-list[data-v-bc792607] {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column
}

.section-bottom .data-list .titles[data-v-bc792607] {
    display: flex;
    align-items: center;
    color: var(--font-color3-pc);
    font-size: 12px;
    height: 47px;
    border-bottom: 1px solid var(--border-color)
}

.section-bottom .data-list .list-wrap[data-v-bc792607] {
    flex: 1;
    overflow-y: auto
}

.section-bottom .data-list .item[data-v-bc792607] {
    height: 76px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    font-size: 14px;
    transition: background-color .2s
}

.section-bottom .data-list .item[data-v-bc792607]:hover {
    background-color: var(--data-bg18)
}

.section-bottom .data-list .item .column0 div[data-v-bc792607]:nth-child(2) {
    font-size: 12px;
    color: var(--font-color3-pc)
}

.section-bottom .data-list .column[data-v-bc792607] {
    flex: 1;
    padding: 0 8px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.section-bottom .data-list .orderNo[data-v-bc792607] {
    flex: 1.5
}

.section-bottom .data-list .column0[data-v-bc792607] {
    text-align: left;
    flex: 1
}

.section-bottom .data-list .column2[data-v-bc792607] {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center
}

.section-bottom .data-list .column5[data-v-bc792607] {
    position: relative
}

.copy-pc[data-v-bc792607] {
    margin-left: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center
}

.copy-pc[data-v-bc792607]:hover {
    opacity: .8
}

.orderStatus[data-v-bc792607] {
    font-weight: 500
}

@media (max-width: 768px) {
    .section-bottom[data-v-bc792607] {
        height:auto;
        padding: 15px
    }

    .section-bottom .data-list .titles[data-v-bc792607],.section-bottom .data-list .item[data-v-bc792607] {
        font-size: 12px
    }

    .section-bottom .data-list .item[data-v-bc792607] {
        height: 60px
    }
}

.sellCoins-page[data-v-c51097a1] {
    box-sizing: border-box;
    padding: 5vw 3.2vw
}

.c-select-box.curreny>img[data-v-c51097a1] {
    margin-right: 2vw;
    width: 10vw;
    height: 10vw;
    border-radius: 9999px
}

.all-in[data-v-c51097a1] {
    margin-left: auto;
    margin-right: 2vw;
    font-size: 4vw;
    --un-text-opacity: 1;
    color: rgb(0 240 255 / var(--un-text-opacity))
}

[data-v-c51097a1] .van-picker-column__item--selected {
    --un-text-opacity: 1;
    color: rgb(0 240 255 / var(--un-text-opacity))
}

.submit-input[data-v-c51097a1] {
    --van-field-input-text-color: white;
    --van-field-placeholder-text-color: #adadad;
    margin: 0 10px 0 0;
    background-color: transparent;
    padding: 0
}

.submit-input[data-v-c51097a1] input {
    font-size: 15px
}

.question-popup[data-v-c51097a1] {
    box-sizing: border-box;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 6vw;
    text-align: center
}

.question-popup .title[data-v-c51097a1] {
    margin-top: 16px;
    font-size: 18px
}

.question-popup .content[data-v-c51097a1] {
    margin: 25px;
    font-size: 14px
}

// 1767076155492452259278 // 1767547802383794460894 // 1768152602836089270483