/* Header Styles - Converted to standard CSS */

/* Header Animation */
.rotate-in-left-top {
  animation: rotate-in-left-top 0.8s ease 0s;
}

@keyframes rotate-in-left-top {
  0% {
    transformorigin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
  to {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}



/* Footer Styles */
.home-footer {
  width: 100%;
  min-height: 596px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgb(11, 11, 14);
  font-size: 14px;
}

.home-footer .content {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  width: 1360px;
  min-height: 596px;
  padding-top: 110px;
}

.home-footer .content .list-base {
  position: relative;
  margin-right: 200px;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  align-items: flex-start;
}

.home-footer .content .list-base .list {
  margin-top: 50px;
  margin-right: 10px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}

.home-footer .content .list-base .list .head {
  margin-bottom: 20px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 26px;
}

.home-footer .content .list-base .list .item {
  margin-bottom: 14px;
  min-height: 20px;
  cursor: pointer;
  font-size: 15px;
  color: rgb(136, 136, 136);
  font-weight: 500;
  line-height: 20px;
}

.home-footer .content .list-base .list .item:hover {
  color: rgb(255, 255, 255);
}

.home-footer .content .row-list {
  width: 530px;
  display: flex;
  flex-direction: column;
}

.home-footer .content .row-list .row {
  width: 100%;
  text-align: right;
  color: rgb(136, 136, 136);
  line-height: 26px;
}

.home-footer .content .row-list .row a {
  color: rgb(136, 136, 136);
}

.home-footer .content .bottom {
  border-top: 1px solid #252731;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.home-footer .content .bottom .content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-footer .content .bottom .content-box .text {
  user-select: text;
  font-size: 14px;
  color: rgb(136, 136, 136);
}

.lang {
  border: 1px solid #2c2c3e;
  position: relative;
  margin-top: 30px;
  width: 160px;
  height: 46px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
  border-radius: 99px;
  background-color: rgb(11, 11, 14);
  color: rgb(255, 255, 255);
}
