<div class="mx-auto box-border max-w-1360px px-4vw lg:px-0"><!---->
  <div class="color-white flex gap-10px lg:gap-20px lg:py-40px">
    <ul class="w-100px lg:w-200px lg:my-50px">
      <li
        class="b-b-1px b-b-solid b-b-[#333] py-15px flex items-center justify-center text-center cursor-pointer hover:bg-dark-800 color-[#00f0ff]">
        系統公告</li>
      <li
        class="b-b-1px b-b-solid b-b-[#333] py-15px flex items-center justify-center text-center cursor-pointer hover:bg-dark-800">
        平臺公告</li>
    </ul>
    <div class="b-l-1px b-l-solid b-l-[#333] pl-10px lg:pl-20px box-border flex-1">
      <ul>
        <li class="p-20px b-b-1px b-b-solid b-b-[#333] cursor-pointer hover:bg-dark-800"><span>關於我們</span></li>
        <li class="p-20px b-b-1px b-b-solid b-b-[#333] cursor-pointer hover:bg-dark-800"><span>服務條款</span></li>
        <li class="p-20px b-b-1px b-b-solid b-b-[#333] cursor-pointer hover:bg-dark-800"><span>隱私協議</span></li>
        <li class="p-20px b-b-1px b-b-solid b-b-[#333] cursor-pointer hover:bg-dark-800"><span>反洗錢協議</span></li>
      </ul>
    </div>
  </div>
</div>